@import "../../utilities/mixins";
@import "../../utilities/variables";
.content {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../img/MacBook-Pro-M1-.jpg);
    background-size: cover;

    .form {
        @extend %box-shadow;
        padding: 2rem;
        &__title {
            font-size: 30px;
            color: rgb(70, 70, 70);
            text-transform: uppercase;
            font-weight: 300;
            text-align: center;
            padding: 1rem 0;
        }
        &__item {
            padding: 1rem;
            display: flex;
            align-items: center;
            &__icon {
                margin-right: 1rem;
            }
            &__input {
                color: #666;
                padding-left: 0.5rem;
                height: 2.5rem;
                width: 20rem;
                border: none;
                outline: none;
                @extend %box-shadow;
            }
        }
        .gender {
            .form__item__input {
                width: 2.5rem;
                height: 2.5rem;
            }
        }

        .control {
            display: flex;
            justify-content: flex-end;
            .form__item__control {
                height: 2.5rem;
                width: 20rem;
                border: none;
                outline: none;
                cursor: pointer;
                transition: all 0.5s;
                @extend %box-shadow;
                &:hover {
                    @extend %box-shadow-inset;
                    border-radius: 2.5rem;
                }
                &:active {
                    @extend %box-shadow-border;
                    border-radius: 2.5rem;
                }
            }
        }
    }
}

@include phone {
    .content {
        margin: 0;
        margin-bottom: 4rem;
    }
}
